<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMEI</key>
	<string>35 432613 028072 1</string>
	<key>PRODUCT</key>
	<string>iPhone14,5</string>
	<key>UDID</key>
	<string>00008110-0006784E1E07801E</string>
	<key>VERSION</key>
	<string>20C65</string>
</dict>
</plist>