<!DOCTYPE html>
<head>
    <title>封面 | 快速获取 iOS 设备的UDID</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="webpage">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body class="tools-box">
<div class="container-fluid wrapper">
    <div class="container content inner-content" style="padding-bottom:40px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                <div class="row text-center">
                    <div class="margin-bottom-30">
                        <h2 class="font-36 color-333">一步快速获取 iOS 设备的 UDID</h2>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <p class="mb-40 color-8c9497 font-16">请使用 <span
                                class="color-green">iPhone或iPad</span>上的<span class="color-green">Safari</span>浏览器或<span
                                class="color-green">相机</span>扫描下面的二维码，即可快速获取 UDID</p>
                    </div>
                    <div class="row text-center" id="UDIDQR">
                        <div class="col-md-8 col-xs-12 col-md-offset-2 mt-40">
                            <div class="row" style="  ">
                                <div class="col-md-6 col-xs-12  col-sm-6 mb-40">
                                    <img src="https://pkg/fm/1.1.0/cover.png" style="height:220px"/>
                                </div>
                                <div class="col-md-6 col-xs-12  col-sm-6 mb-0">
                                    <div id="UDIDQRImg" style="">
                                        <img src="https://pkg/fm/1.2.0/iosudid.png?content=https://jobs8.cn:9000/down_config"
                                             class="udid img-responsive center-block"/>
                                        <p class="mt-5">扫描二维码，获取 UDID</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top:2px solide #e6e6e6;"/>
                <div class="col-md-10 col-md-offset-1 input-group margin-bottom-20 mt-60">
                    <p class="font-18 color-333 ">扫码后怎么操作呢</p>
                    <p class="color-8c9497 mb-35">扫码后会下载一个描述文件，需要安装，步骤如下：<br>
                        <font color="red">
                            1. ios手机打开“设置”; <br>
                            2. 找到“通用”并点击; <br>
                            3. 找到“描述文件与设备管理”或“设备管理”并点击; <br>
                            4. 找到“查询设备UDID”并点击; <br>
                            5. 点击右上角的“安装”按钮即可。<br>
                        </font>
                    </p>
                    <p class="font-18 color-333">什么是UDID?</p>
                    <p class="color-8c9497 mb-35">UDID 是 iOS 设备的一个唯一识别码，每台 iOS
                        设备都有一个独一无二的编码，这个编码，我们称之为识别码，也叫做UDID（ Unique Device Identifier）。</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>