<!DOCTYPE html>
<head>
    <title>封面 | 快速获取 iOS 设备的UDID</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="webpage">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body class="tools-box">
<div class="container-fluid wrapper">
    <div class="container content inner-content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
                <div class="row text-center" style="margin-left: 0; margin-right: 0;">
                    <div class="row text-center" id="UDIDQR">
                        <div class="col-md-8 col-xs-12 col-md-offset-2 mt-40">
                            <div class="row" style="  ">
                                <div class="col-md-6 col-xs-12  col-sm-6 mb-40">
                                    <img src="https://p1.0/cover.png" style="height:220px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="color-878f92 font-16 mb-15" style="text-align: left;">设备信息UDID：</h5>
                    <div style="text-align: left;word-break:break-all;background: #f3f3f3;border-radius: 4px;min-height: 40px;height: auto;padding: 8px 10px;border: 1px solid #ddd;"
                         class="tag-box tag-box-v3 mb-25">
                        <p class="color-333" style="font-size: 14px">{{udid}}}</p>
                    </div>
                    <h5 class="color-878f92 font-16 mb-15" style="text-align: left;">设备型号：</h5>
                    <div style="text-align: left;word-break:break-all;background: #f3f3f3;border-radius: 4px;min-height: 40px;height: auto;padding: 8px 10px;border: 1px solid #ddd;"
                         class="tag-box tag-box-v3 mb-25">
                        <p class="color-333" style="font-size: 14px">{{product}}}</p>
                    </div>
                    <h5 class="color-878f92 font-16 mb-15" style="text-align: left;">版本号：</h5>
                    <div style="text-align: left;word-break:break-all;background: #f3f3f3;border-radius: 4px;min-height: 40px;height: auto;padding: 8px 10px;border: 1px solid #ddd;"
                         class="tag-box tag-box-v3 mb-25">
                        <p class="color-333" style="font-size: 14px">{{version}}</p>
                    </div>

                </div>
            </div>
</body>
</html>