<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form submit</title>
</head>
<body>
<form action="/result" method="POST">
    <p>Name
        <label>
            <input type="text" name="Name"/>
        </label>
    </p>
    <p>Physics
        <label>
            <input type="text" name="Physics"/>
        </label>
    </p>
    <p>Chemistry
        <label>
            <input type="text" name="Chemistry"/>
        </label>
    </p>
    <p>Maths
        <label>
            <input type="text" name="Mathematics"/>
        </label>
    </p>
    <p><input type="submit" value="submit"/></p>
</form>
</body>
</html>